
swiper-container {
    width: 100%;
    margin: 0 auto;
    max-height: 60vh;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #00204a;
    display: flex;
    justify-content: center;
    align-items: center;
}

    swiper-slide img {
        display: block;
        width: 100%; /* Tam genişlik */
        max-width: 364px; /* Maksimum genişlik */
        height: auto; /* Hündürlük avtomatik */
        max-height: 60vh; /* Maksimum hündürlük */
        object-fit: contain;
    }


/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

    /* Hover effect for button */
    .dropbtn:hover {
        background-color: #e0e0e0;
    }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    padding: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Styling the individual links inside the dropdown */
.dropdown-content a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Styling the flags */
.flag-icon {
    width: 30px;
    height: auto;
    transition: transform 0.2s;
    border-radius: 8px;
}

    /* Hover effect for flags */
    .flag-icon:hover {
        transform: scale(1.1);
        border-radius: 8px;
    }

/* Add hover effect for links */
.dropdown-content a:hover {
    background-color: #f0f0f0;
}



.project_section {
    background-color: #00204a;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.card-section {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #00204a;
    align-items: center;
    width: 100%;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Məzmunu bərabər paylamaq üçün */
    height: 500px; /* Kartların hündürlüyü */
    color: black;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        max-width: 100%;
        border-radius: 8px;
        height: 150px; /* Şəkilin hündürlüyü */
        object-fit: cover; /* Şəkilin düzülüşü */
    }

    .card .cardTitle {
        margin: 10px 0 5px;
    }

    .card .cardDesc {
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }

.detail-button {
    background-color: #00204a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .detail-button:hover {
        background-color: #0056b3;
    }



.service-name {
    min-height: 80px; /* Başlıqların minimum hündürlüyü, ən uzun başlığa uyğun artırıla bilər */
    line-height: 1.2; /* Sətir aralığını düzəldir */
    word-break: break-word; /* Uzanan sözləri qırır */
}