@model ProjectGetDto


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                @Model.Name
            </h2>

        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="@Model.ImagePath" alt="@Model.Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">

                    <p>
                        @Html.Raw(Model.Description)
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
